<head>
    <img src="/img/logo.png" alt="helloworld_logo" style="display: block; margin-left: auto; margin-right: auto;" width="50%">
</head>
<body>
    <h1 style="text-align: center;">Hello World, this is my first node project</h1>
    <p style="text-align: center">Node.js to Azure</p>
</body>